<!Doctype html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
  </head>
  <body ng-controller="StoreController as store">
    <h1>Welcome to the Flat Lander Store</h1>
    <!-- attach controller with actual name and give it an alias using as -->
    <div ng-repeat="product in store.products" ng-hide="store.product.soldOut">
      <h1>{{product.name}}</h1>

      <!-- repeat to display all images will not work due to structure of my images array object -->
      <!-- <li ng-repeat="image in product.images"> -->
        <img ng-src="{{product.images[0].thumb}}" />
      <!-- </li> -->
      <h2>{{product.price | currency}}</h2>
      <button class="btn btn-primary" ng-show="product.canPurchase"> Add to Cart </button>
      <br><br>
      <section ng-controller="PanelController as panel">
        <ul class="nav nav-pills">
          <li ng-class="{ active: panel.isSelected(1) }">
            <a href ng-click="panel.selectTab(1)">Description</a>
          </li>
          <li ng-class="{ active: panel.isSelected(2) }">
            <a href ng-click="panel.selectTab(2)">Specifications</a>
          </li>
          <li ng-class="{ active: panel.isSelected(3) }">
            <a href ng-click="panel.selectTab(3)">Reviews</a>
          </li>
        </ul>
        <div class="panel" ng-show="panel.isSelected(1)">
          <h4>Description</h4>
          <p>{{product.description}}</p>
        </div>
        <div class="panel" ng-show="panel.isSelected(2)">
          <h4>Specifications</h4>
          <blockquote>None yet</blockquote>
        </div>
        <div class="panel" ng-show="panel.isSelected(3)">
          <h4>Reviews</h4>
          <blockquote>None yet</blockquote>

          <form name="reviewForm">
            <select>
              <option value="1">1 star</option>
              <option value="2">2 star</option>
              <option value="3">3 star</option>
              <option value="4">4 star</option>
              <option value="5">5 star</option>
            </select>
            <textarea></textarea>
            <label>by:</label>
            <input type="email" />
            <input type="submit" value="submit" />
          </form>
        </div>
      </div>
    </section>

  </body>
  <script type="text/javascript" src="angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</html>
