<!Doctype html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="../app/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../app/css/main.css" />
  </head>
  <body ng-controller="StoreController as store">
    <h1>Welcome to the Flat Lander Store</h1>
    <!-- attach controller with actual name and give it an alias using as -->
    <div ng-repeat="product in store.products" ng-hide="store.product.soldOut">

      <product-details></product-details>
      <button class="btn btn-primary" ng-show="product.canPurchase"> Add to Cart </button>
      <br><br>

      <panel-template></panel-template>

  </body>
  <script type="text/javascript" src="../app/js/angular.min.js"></script>
  <script type="text/javascript" src="../app/app.js"></script>
  <script type="text/javascript" src="../app/js/directives/product.js"></script>
  <script type="text/javascript" src="../app/js/controllers/review.js"></script>
</html>
